::-webkit-validation-bubble-message {
    padding: 1em;background-color:#000000;
color:#ffffff;
}
#wrapper {
	width: 1011px;
left:0px;
top:0px;
	margin:0 auto;
	position: relative;

}
.midbar
{
  
 position : absolute ;
  background: rgba(204, 204, 204, .4);
  width : 100%;
  top:56px;
  z-index:-5;
  height : 1495px;
}
.buynowpic{

background-repeat:repeat;
  position : absolute ;
  left : 505px;
  top : 148px;
  width : 470px;
  height : 256px;
}
.selectedtab5
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.6;
  position : absolute ;
  left : 846px;
  top : 24px;
  width : 141px;
  height : 25px;
  border-radius : 5px;
  -moz-border-radius : 5px;
  -webkit-border-radius : 5px;
  filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) ;
}
.selectedtab1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.6;
  position : absolute ;
  left : 158px;
  top : 24px;
  width : 141px;
  height : 25px;
  border-radius : 5px;
  -moz-border-radius : 5px;
  -webkit-border-radius : 5px;
  filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) ;
}

.selectedtab4
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.6;
  position : absolute ;
  left : 673px;
  top : 24px;
  width : 141px;
  height : 25px;
  border-radius : 5px;
  -moz-border-radius : 5px;
  -webkit-border-radius : 5px;
  filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) ;
}
.selectedtab2
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.6;
  position : absolute ;
  left : 329px;
  top : 24px;
  width : 141px;
  height : 25px;
  border-radius : 5px;
  -moz-border-radius : 5px;
  -webkit-border-radius : 5px;
  filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) ;
}
.selectedtab3
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.6;
  position : absolute ;
  left : 502px;
  top : 24px;
  width : 141px;
  height : 25px;
  border-radius : 5px;
  -moz-border-radius : 5px;
  -webkit-border-radius : 5px;
  filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) ;
}

.copyright
{
  background : #024C60;
  background : rgba(2, 76, 96, 1);
  position : absolute ;
  left : 5px;
  text-align:center;
    font-family : Century Gothic;
  font-size : 12px;
  padding-top:2px;
  color:#ffffff;
  top : 1533px;
  width : 999px;
  height : 18px;
}

body{

  margin:0px;
  padding:0px; 
	font-family:Century Gothic;
  }
  
  .home
{
  background : #878486;

  position : absolute ;
  left : 5px;
  top : 0px;
  z-index:1;
  opacity:1;
      	 transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
  text-align:center;
  width : 132px;
  height : 21px;
}

  .home:hover
{
 background : #ffffff;
opacity:0.7;
    	 transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
  position : absolute ;
  left : 5px;
  top : 0px;
  z-index:1;
  text-align:center;
  width : 132px;
  height : 21px;
}

  .labtab
{ position : absolute ;
  left : 660px;
  top : 20px;
  width : 171px;
    font-family : Century Gothic;
  font-size : 19px;
text-align:center;
padding-top:5px;
  height : 30px;
}

.learningtab
{
   font-family : Century Gothic;
  font-size : 19px; position : absolute ;
  left : 489px;
  top : 20px;
  width : 171px;
text-align:center;
padding-top:5px;
  height : 30px;}

  
.projecttab
{
   font-family : Century Gothic;
  font-size : 19px; position : absolute ;
 left : 317px;
  top : 20px;
  width : 171px;
text-align:center;
padding-top:5px;
  height : 30px;
}



.electronics
{    font-family : Century Gothic;
  font-size : 19px; 
  position : absolute ;
  left : 832px;
  top : 20px;
  width : 172px;
 
text-align:center;
padding-top:5px;
  height : 30px;
}

.trainingtab
{
    font-family : Century Gothic;
  font-size : 19px;
text-align:center;
padding-top:5px;
  height : 30px;
 position : absolute ;
  left : 144px;
  top : 20px;
  width : 171px;

}

.labtab a:hover,.trainingtab a:hover, .learningtab a:hover, .projecttab a:hover, .electronics a:hover{    
color: #FFFFFF;
}

.foot3
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  position : absolute ;
  left : 390px;
  top : 1336px;
  width : 175px;
  height : 183px;
  border-radius : 5px;
  -moz-border-radius : 5px;
  -webkit-border-radius : 5px;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.ourfooter
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(113, 194, 226, 1) 0%,rgba(116, 194, 210, 1) 44.83%,rgba(140, 198, 63, 0.8) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(113, 194, 226, 1) 0%, rgba(116, 194, 210, 1) 44.83%, rgba(140, 198, 63, 0.8) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(113, 194, 226, 1) ),color-stop(0.4483,rgba(116, 194, 210, 1) ),color-stop(1,rgba(140, 198, 63, 0.8) ));
  background : -o-linear-gradient(-90deg, rgba(113, 194, 226, 1) 0%, rgba(116, 194, 210, 1) 44.83%, rgba(140, 198, 63, 0.8) 100%);
  background : -ms-linear-gradient(-90deg, rgba(113, 194, 226, 1) 0%, rgba(116, 194, 210, 1) 44.83%, rgba(140, 198, 63, 0.8) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#71C2E2', endColorstr='#8CC63F' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(113, 194, 226, 1) 0%, rgba(116, 194, 210, 1) 44.83%, rgba(140, 198, 63, 0.8) 100%);
  position : absolute ;
  left : 5px;
  top : 1333px;
  width : 999px;
  height : 200px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71C2E2',endColorstr='#8CC63F' , GradientType=0);
}
.foot1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  position : absolute ;
  left : 13px;
  top : 1336px;
  width : 175px;
  height : 183px;
  border-radius : 5px;
  -moz-border-radius : 5px;
  -webkit-border-radius : 5px;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.foot2
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  position : absolute ;
  left : 201px;
  top : 1336px;
  width : 175px;
  height : 183px;
  border-radius : 4px;
  -moz-border-radius : 4px;
  -webkit-border-radius : 4px;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}

.exploreimg
{

  position : absolute ;
  left : 5px;
  top : 10px;
  width : 162px;
  height : 84px;
}
.topbar
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(41, 171, 226, 0.5) 0%,rgba(41, 171, 226, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(41, 171, 226, 0.5) 0%, rgba(41, 171, 226, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(41, 171, 226, 0.5) ),color-stop(1,rgba(41, 171, 226, 1) ));
  background : -o-linear-gradient(-90deg, rgba(41, 171, 226, 0.5) 0%, rgba(41, 171, 226, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(41, 171, 226, 0.5) 0%, rgba(41, 171, 226, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#29ABE2', endColorstr='#29ABE2' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(41, 171, 226, 0.5) 0%, rgba(41, 171, 226, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29ABE2',endColorstr='#29ABE2' , GradientType=0);
  position : absolute ;
  width : 100%;
  height : 56px;
}



.explore
{

  text-align:center;
  position : absolute ;
  padding-top:12px;

  left : 1px;
  top : 20px;
  width : 140px;
  height : 63px;
}

.bodycolumn1
{
  background :#ffffff;
  position : absolute ;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  text-align:justify;
      border-radius : 5px;
  -moz-border-radius :5px;
  -webkit-border-radius :5px;
  left : 9px;
  top : 91px;
  width : 990px;
  height : 1224px;
}

.textbody
{
  background : #71C2E2;
  background : rgba(113, 194, 226, 1);
  position : absolute ;
   border-radius :  5px 5px 0px 0px;
  -moz-border-radius : 5px 5px 0px 0px;
  -webkit-border-radius : 5px 5px 0px 0px;
  left : 5px;
  top :86px;
  width : 999px;
  height : 1247px;
}

.TabCharacterStyle
{
  font-family : Century Gothic;
  font-size : 19px;
  color : #000000;
  color : rgb(0, 0, 0);
}
.ExploreCharacterStyle
{
  font-family : Century Gothic;
  font-size : 25px;

  color : #ffffff;

}
.HeadingCharacterStyle
{
  font-family : Century Gothic;
  font-size : 28px;
  color : #000000;
  color : rgb(0, 0, 0);
}
a:link{text-decoration:none;color:#000000;}
a:hover{text-decoration:none; color:#000000;}
a:visited{text-decoration:none;color:#000000;}
a:active{text-decoration:none;color:#000000;}

/*ASTEROID LEARNING*/
.foxconn
{
  background : -moz-linear-gradient(50% 100% 90deg,rgba(0, 113, 188, 1) 0%,rgba(41, 171, 226, 0.6) 48.77%,rgba(116, 194, 210, 1) 78.8%);
  background : -webkit-linear-gradient(90deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 48.77%, rgba(116, 194, 210, 1) 78.8%);
  background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(0, 113, 188, 1) ),color-stop(0.4877,rgba(41, 171, 226, 0.6) ),color-stop(0.788,rgba(116, 194, 210, 1) ));
  background : -o-linear-gradient(90deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 48.77%, rgba(116, 194, 210, 1) 78.8%);
  background : -ms-linear-gradient(90deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 48.77%, rgba(116, 194, 210, 1) 78.8%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0071BC', endColorstr='#74C2D2' ,GradientType=0)";
  background : linear-gradient(0deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 48.77%, rgba(116, 194, 210, 1) 78.8%);
  position : fixed ;
  
right:0px;
  top : 110px;
  width : 52px;
  height : 225px;
  border-radius : 25px 0px 0px 0px;
  -moz-border-radius : 25px 0px 0px 0px;
  -webkit-border-radius : 25px 0px 0px 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74C2D2',endColorstr='#0071BC' , GradientType=0);
}
.fb
{ 
right:0px;
  top : 335px;
  width : 52px;
  height : 52px;
  position:fixed;
  border-radius : 25px 0px 0px 0px;
  -moz-border-radius : 25px 0px 0px 0px;
  -webkit-border-radius : 25px 0px 0px 0px;
}
.asteroid
{
  position : relative;
 transform: rotate(-90deg);
 transform-origin: 0% 0%;
text-align:center;
right:0px;
  font-family : Century Gothic;
  font-size : 16px;
  padding-top:25%;
  color : #000000;
  color : rgb(0, 0, 0);

  top : 225px;
  width : 225px;
  height : 52px;

}


/*footerbuds*/
.b3
{
  position : absolute ;
  left : 206px;

  top : 1387px;
  width : 165px; height : 26px;  padding-left:5px;
  padding-top: 5px;
}
.b2
{
  position : absolute ;

  left : 206px;
  top : 1363px;
  width : 165px; height : 26px;  padding-left:5px;
  padding-top: 5px;
}
.a3
{
  position : absolute ;
  left : 19px;  padding-left:5px;
  padding-top: 5px;
  top : 1387px;
  width : 165px; height : 26px;
}
.c7
{
  position : absolute ;
  left : 395px;
  top : 1482px;
  width : 165px; height : 26px;  padding-left:5px;
  padding-top: 5px;
}
.a1
{
  position : absolute ;
  left : 19px;  padding-left:5px;

  padding-top: 5px;
  top : 1340px;
  width : 165px; height : 26px;
}
.b1
{
  position : absolute ;
  left : 206px;
  top : 1339px;
  width : 165px; height : 26px;  padding-left:5px;
  padding-top: 5px;
}
.b4
{
  position : absolute ;
  left : 206px;
   top : 1411px;
  padding-left:5px;
  padding-top: 5px;
   width : 165px; height : 26px;
}
.a2
{
  position : absolute ;  padding-left:5px;
  padding-top: 5px;
  left : 19px;
  top : 1363px;
  width : 165px; height : 26px;
}
.c4
{
  position : absolute ;
  left : 395px;
   top : 1411px;
  width : 165px;  padding-left:5px;
  padding-top: 5px;
  height : 26px;
}
.c5
{
  position : absolute ;
  left : 395px;
  top : 1435px;
  width : 165px;
    padding-left:5px;
  padding-top: 5px;
  height : 26px;
}
.b6
{
  position : absolute ;
  left : 206px;
  top : 1458px;
  width : 165px; height : 26px;  padding-left:5px;
  padding-top: 5px;
}
.a6
{
  position : absolute ;  padding-left:5px;
  padding-top: 5px;
  left : 19px;
  top : 1458px;
  width : 165px; height : 26px;
}
.a4
{
  position : absolute ;
    padding-left:5px;
  padding-top: 5px;
  left : 19px;
   top : 1411px;
  width : 165px; height : 26px;
}
.c1
{
  position : absolute ;
  left : 395px;
  top : 1340px;
  border-radius:4px;
    background-color:#00B0F0;
	
  width : 165px; height : 26px;  padding-left:5px;
  padding-top: 5px;
}

.c2
{
  position : absolute ;
  left : 395px;
  top : 1363px;
  width : 165px; height : 26px;  padding-left:5px;
  padding-top: 5px;
}
.a5
{
  position : absolute ;
    padding-left:5px;
  padding-top: 5px;
  left : 19px;
  top : 1435px;
  width : 165px; height : 26px;  padding-left:5px;
  padding-top: 5px;
}
.b7
{
  position : absolute ;
  left : 206px;
  top : 1482px;
  width : 165px; height : 26px;  padding-left:5px;
  padding-top: 5px;
}
.b5
{
  position : absolute ;
  left : 206px;
  top : 1435px;  padding-left:5px;
  padding-top: 5px;
  width : 165px; height : 26px;
}
.a7
{
  position : absolute ;
  left : 19px;
  top : 1482px;  padding-left:5px;
  padding-top: 5px;
  width : 165px; height : 26px;
}
.c3
{
  position : absolute ;
  left : 395px;
  top : 1387px;
  
  padding-left:5px;
  padding-top: 5px;
  width : 165px; height : 26px;
}
.c6
{
  position : absolute ;
  left : 395px;
  top : 1458px;


  padding-left:5px;
  padding-top: 5px;
  width : 165px; height : 26px;
}
.c6:hover, .c2:hover, .c3:hover, .c4:hover, .c5:hover, .c7:hover{text-decoration:underline;}
.b6:hover, .b1:hover, .b2:hover, .b3:hover, .b4:hover, .b5:hover, .b7:hover{text-decoration:underline;}
.a6:hover, .a1:hover, .a2:hover, .a3:hover, .a4:hover, .a5:hover, .a7:hover{text-decoration:underline;}
.a1, .a2, .a3, .a4, .a5, .a7, .b1, .b2, .b3, .b4, .b5, .b6, .b7, .c1, .c2, .c3,.c4, .c5, .c6, .c7, .a6
{ 
font-family : Century Gothic;
  font-size : 13px;
}
.c1:hover{ 
  background : rgba(0, 176, 240, .5);

text-decoration:underline;

 }
 
 .foot_loose
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.5;
  position : absolute ;
  left : 579px;

  width : 413px;

    top : 1336px;

  height : 183px;
  border-radius : 4px;
  -moz-border-radius : 4px;
  -webkit-border-radius : 4px;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
    	 transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

 
 .foot_loose:hover
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 1.0;
  position : absolute ;
  left : 579px;

  width : 413px;

    top : 1336px;
  	 transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
  height : 183px;
  border-radius : 4px;
  -moz-border-radius : 4px;
  -webkit-border-radius : 4px;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
@font-face {
	font-family: 'Museo';
	src:url('../fonts/Museo.otf');
	font-weight: normal;
	font-style: normal;
}

	
	/*about us contents--------*/

.team
{
  background : #CCCCCC;
  background : rgba(204, 204, 204, 1);
  position : absolute ;
  left : 13px;
  padding-top:5px;
  text-align:center;
  top : 670px;
  width : 180px;
  height : 30px;
  border-radius : 4px;
  -moz-border-radius : 4px;
  -webkit-border-radius : 4px;
}
.pic3
{
  background : #FF3399;
  background : rgba(255, 51, 153, 1);
  position : absolute ;
  left : 13px;
  top : 929px;
  width : 98px;
  height : 98px;
}
.pic1
{
  background : #FF3399;
  background : rgba(255, 51, 153, 1);
  position : absolute ;
  left : 13px;
  top : 704px;
  width : 98px;
  height : 98px;
}
.info2
{
  background : #55B1FF;
  background : rgba(85, 177, 255, .2);

  padding:10px 10px 10px 10px;
  position : absolute ;
  left : 334px;
  top : 401px;  text-align:justify;
  width : 662px;
  height : 193px;
  border-radius : 12px;
  -moz-border-radius : 12px;
  -webkit-border-radius : 12px;
  filter: alpha(opacity=17) progid:DXImageTransform.Microsoft.Alpha(opacity=17) ;
}
.ceo4
{
  background : -moz-linear-gradient(0% 50% 0deg,rgba(0, 113, 188, 1) 0%,rgba(41, 171, 226, 0.6) 31.03%,rgba(116, 194, 210, 1) 78.8%);
  background : -webkit-linear-gradient(0deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 31.03%, rgba(116, 194, 210, 1) 78.8%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(0, 113, 188, 1) ),color-stop(0.3103,rgba(41, 171, 226, 0.6) ),color-stop(0.788,rgba(116, 194, 210, 1) ));
  background : -o-linear-gradient(0deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 31.03%, rgba(116, 194, 210, 1) 78.8%);
  background : -ms-linear-gradient(0deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 31.03%, rgba(116, 194, 210, 1) 78.8%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0071BC', endColorstr='#74C2D2' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 31.03%, rgba(116, 194, 210, 1) 78.8%);
  position : absolute ;
    padding-top:10px;
  padding-left:10px;
  font-family:Museo;
  left : 111px;
  border-radius: 0px 10px 10px 0px;
  top : 1042px;
  width : 450px;
  height : 98px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0071BC',endColorstr='#74C2D2' , GradientType=1);
}
.info1
{
  background : #55B1FF;
  background : rgba(85, 177, 255, .2);
  text-align:justify;
  padding:10px 10px 10px 10px;
  position : absolute ;
  left : 336px;
  top : 197px;
  width : 660px;
  height : 191px;
  border-radius : 12px;
  -moz-border-radius : 12px;
  -webkit-border-radius : 12px;
  filter: alpha(opacity=17) progid:DXImageTransform.Microsoft.Alpha(opacity=17) ;
}
.ceo3
{
  background : -moz-linear-gradient(0% 50% 0deg,rgba(41, 171, 226, 0.6) 3.94%,rgba(116, 194, 210, 1) 39.39%,rgba(3, 118, 191, 0.98) 100%);
  background : -webkit-linear-gradient(0deg, rgba(41, 171, 226, 0.6) 3.94%, rgba(116, 194, 210, 1) 39.39%, rgba(3, 118, 191, 0.98) 100%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0.0394,rgba(41, 171, 226, 0.6) ),color-stop(0.3939,rgba(116, 194, 210, 1) ),color-stop(1,rgba(3, 118, 191, 0.98) ));
  background : -o-linear-gradient(0deg, rgba(41, 171, 226, 0.6) 3.94%, rgba(116, 194, 210, 1) 39.39%, rgba(3, 118, 191, 0.98) 100%);
  background : -ms-linear-gradient(0deg, rgba(41, 171, 226, 0.6) 3.94%, rgba(116, 194, 210, 1) 39.39%, rgba(3, 118, 191, 0.98) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#29ABE2', endColorstr='#0376BF' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(41, 171, 226, 0.6) 3.94%, rgba(116, 194, 210, 1) 39.39%, rgba(3, 118, 191, 0.98) 100%);
  position : absolute ;
    padding-top:10px;
  padding-left:10px;
  border-radius: 0px 10px 10px 0px;
  font-family:Museo;
  left : 111px;
  top : 929px;
  width : 450px;
  height : 98px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29ABE2',endColorstr='#0376BF' , GradientType=1);
}
.pic4
{
  background : #FF3399;
  background : rgba(255, 51, 153, 1);
  position : absolute ;
  left : 13px;
  top : 1042px;
  width : 98px;
  height : 98px;
}
.ceo2
{
  background : -moz-linear-gradient(0% 50% 0deg,rgba(41, 171, 226, 0.6) 2.96%,rgba(0, 113, 188, 1) 65.02%,rgba(5, 117, 189, 1) 69.8%,rgba(20, 127, 192, 1) 75.58%,rgba(44, 144, 196, 1) 81.89%,rgba(78, 168, 203, 1) 88.53%,rgba(116, 194, 210, 1) 94.57%);
  background : -webkit-linear-gradient(0deg, rgba(41, 171, 226, 0.6) 2.96%, rgba(0, 113, 188, 1) 65.02%, rgba(5, 117, 189, 1) 69.8%, rgba(20, 127, 192, 1) 75.58%, rgba(44, 144, 196, 1) 81.89%, rgba(78, 168, 203, 1) 88.53%, rgba(116, 194, 210, 1) 94.57%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0.0296,rgba(41, 171, 226, 0.6) ),color-stop(0.6502,rgba(0, 113, 188, 1) ),color-stop(0.698,rgba(5, 117, 189, 1) ),color-stop(0.7558,rgba(20, 127, 192, 1) ),color-stop(0.8189,rgba(44, 144, 196, 1) ),color-stop(0.8853,rgba(78, 168, 203, 1) ),color-stop(0.9457,rgba(116, 194, 210, 1) ));
  background : -o-linear-gradient(0deg, rgba(41, 171, 226, 0.6) 2.96%, rgba(0, 113, 188, 1) 65.02%, rgba(5, 117, 189, 1) 69.8%, rgba(20, 127, 192, 1) 75.58%, rgba(44, 144, 196, 1) 81.89%, rgba(78, 168, 203, 1) 88.53%, rgba(116, 194, 210, 1) 94.57%);
  background : -ms-linear-gradient(0deg, rgba(41, 171, 226, 0.6) 2.96%, rgba(0, 113, 188, 1) 65.02%, rgba(5, 117, 189, 1) 69.8%, rgba(20, 127, 192, 1) 75.58%, rgba(44, 144, 196, 1) 81.89%, rgba(78, 168, 203, 1) 88.53%, rgba(116, 194, 210, 1) 94.57%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#29ABE2', endColorstr='#74C2D2' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(41, 171, 226, 0.6) 2.96%, rgba(0, 113, 188, 1) 65.02%, rgba(5, 117, 189, 1) 69.8%, rgba(20, 127, 192, 1) 75.58%, rgba(44, 144, 196, 1) 81.89%, rgba(78, 168, 203, 1) 88.53%, rgba(116, 194, 210, 1) 94.57%);position : absolute ;
  position:absolute;
    padding-top:10px;
  padding-left:10px;
  font-family:Museo;
  left : 111px;
  border-radius: 0px 10px 10px 0px;
  top : 817px;
  width : 450px;
  height : 98px;  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29ABE2',endColorstr='#74C2D2' , GradientType=1);
}
.ceo1
{
  background : -moz-linear-gradient(0% 50% 0deg,rgba(0, 113, 188, 1) 0%,rgba(41, 171, 226, 0.6) 48.77%,rgba(116, 194, 210, 1) 78.8%);
  background : -webkit-linear-gradient(0deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 48.77%, rgba(116, 194, 210, 1) 78.8%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(0, 113, 188, 1) ),color-stop(0.4877,rgba(41, 171, 226, 0.6) ),color-stop(0.788,rgba(116, 194, 210, 1) ));
  background : -o-linear-gradient(0deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 48.77%, rgba(116, 194, 210, 1) 78.8%);
  background : -ms-linear-gradient(0deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 48.77%, rgba(116, 194, 210, 1) 78.8%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0071BC', endColorstr='#74C2D2' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 48.77%, rgba(116, 194, 210, 1) 78.8%);
  position : absolute ;
  left : 111px;
  padding-top:10px;
  padding-left:10px;
  font-family:Museo;
  top : 704px;
  
  border-radius: 0px 10px 10px 0px;
  width : 450px;
  height : 98px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0071BC',endColorstr='#74C2D2' , GradientType=1);
}
.muse
{

  position : absolute ;
  left : 580px;
  top : 770px;
  width : 450px;
  height :300px;
}
.pic2
{
  background : #FF3399;
  background : rgba(255, 51, 153, 1);
  position : absolute ;
  left : 13px;
  top : 817px;
  width : 98px;
  height : 98px;
}
.aboutus
{
  background : -moz-linear-gradient(64.62% 275.76% 120deg,rgba(0, 113, 188, 1) 0%,rgba(41, 171, 226, 0.6) 48.77%,rgba(116, 194, 210, 1) 78.8%);
  background : -webkit-linear-gradient(120deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 48.77%, rgba(116, 194, 210, 1) 78.8%);
  background : -webkit-gradient(linear,64.62% 275.76% ,35.38% -175.76% ,color-stop(0,rgba(0, 113, 188, 1) ),color-stop(0.4877,rgba(41, 171, 226, 0.6) ),color-stop(0.788,rgba(116, 194, 210, 1) ));
  background : -o-linear-gradient(120deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 48.77%, rgba(116, 194, 210, 1) 78.8%);
  background : -ms-linear-gradient(120deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 48.77%, rgba(116, 194, 210, 1) 78.8%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0071BC', endColorstr='#74C2D2' ,GradientType=0)";
  background : linear-gradient(-30deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 0.6) 48.77%, rgba(116, 194, 210, 1) 78.8%);
  position : absolute ;
  left : 7px;
  border-radius: 0px 10px 10px 0px;
  font-family:Museo;
  font-size:54;
  padding-top:7px;
  z-index:+5;
  padding-left:10px;
  top : 103px;
  width : 713px;
  height : 80px;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0071BC',endColorstr='#74C2D2' , GradientType=1);
}
.bluelotus
{

  position : absolute ;
  left : 20px;
  top : 220px;
  width : 281px;
  height : 133px;
}

.asteroidlearning
{
  
  position : absolute ;
  left : 20px;
  top : 431px;
  width : 281px;
  height : 133px;
}

.address1
{
  
  position : absolute ;
  left : 546px;
  top : 1160px;
  font-size:14px;
  width : 449px;
  height : 161px;

}
.address2
{

  position : absolute ;
  left : 12px;
  font-size:14px;
  top : 1160px;
  width : 449px;
  height : 161px;

}
.buttonstyle
{
  position : absolute ;
  left : 200px;
  padding-top:5px;
  text-align:center;
  top : 668px;
  width : 180px;
  height : 30px;
  border-radius : 4px;
  -moz-border-radius : 4px;
  -webkit-border-radius : 4px;}
  
input
{
  border-radius:4px;
}
